.header-logo {
   
    text-align: center;
    padding-top: 20px;
    color: #1089FF ;
    
}

.header {
    background: #d1eaf5;
    /*border: 1px solid #ff0000;
    margin: 10px;
    padding: 10px;*/
}

.header-nav{
   text-align: center;
}

.header-nav-link{
    /*padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background-color:#1089FF;
    color: white ;
    margin: 20px 0px 20px 0px;
   
}

